/*
============================================
; Title: Exercise 5.3 - Data Tables
; Author: Dan Ross
; Date: 30 Jan 2021
; Modified By: Dan Ross
; Description: This is our book-list CSS style sheet.
;===========================================
*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}
.a-link:hover {
  text-decoration: underline;
}
