/*
============================================
; Exercise 6.2 - Input/Output Properties, Part 1
; Author: Dan Ross
; Date: 06 Feb 2021
; Modified By: Dan Ross
; Description: This is the app component scss file.
;===========================================
*/
.logo {
  margin-top: 5px
}
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
