/*
============================================
; Title: invoice-dialog.component.scss
; Author: Dan Ross
; Date: 27 Feb 2021
; Modified By: Dan Ross
; Description: This is the invoice dialog stylesheet.
;===========================================
*/
table {
  width: 50%;
}
.print-icon {
  color: #fff;
  font-size: 20px;
}

