/*
============================================
; Title: app.component.scss
; Author: Dan Ross
; Date: 27 Feb 2021
; Modified By: Dan Ross
; Description: This is the app.component stylesheet.
;===========================================
*/
.logo {
  margin-top: 5px
}
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 30px auto 0;
}
.nav {
  height: auto;
}
